---
import type { GetStaticPaths } from "astro";

import Container from "~/components/Container.astro";
import PortableText from "~/components/PortableText/PortableText.astro";
import SanityImage from "~/components/SanityImage.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
import { formatDateWithLocalized } from "~/lib/date";
import { loadQuery } from "~/lib/sanity/load-query";
import { POST_QUERY, POST_SLUGS_QUERY } from "~/lib/sanity/queries";
import { urlForImage } from "~/lib/sanity/urlForImage";

export const getStaticPaths = (async () => {
  const { result } = await loadQuery({ query: POST_SLUGS_QUERY });

  return result.map((post) => ({
    params: { slug: post.slug },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const { result } = await loadQuery({ query: POST_QUERY, params: { slug } });

if (!result) {
  return Astro.redirect("/404");
}
---

<MainLayout
  title={result.title}
  description={result.description}
  image={urlForImage(result.image).url()}
  ogType="article"
  keywords={result.derefTag.map((tag) => tag.title)}
>
  <NavLayout>
    <Container>
      <div>
        <SanityImage node={result.image} alt="Header" />
        <div>
          <p>{result.title}</p>
          <p>{formatDateWithLocalized(result.postedAt)}</p>
        </div>
      </div>
      <Container as="article">
        <PortableText data={result.body} />
      </Container>
    </Container>
  </NavLayout>
</MainLayout>
