---
import { ArrowUpRight, Calendar, Timer } from "lucide-react";

import Container from "~/components/Container.astro";
import SanityImage from "~/components/SanityImage.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
import dayjs, { getReadingTime } from "~/lib/date";
import { loadQuery } from "~/lib/sanity/load-query";
import { PAGINATED_POSTS_QUERY } from "~/lib/sanity/queries";

const { result } = await loadQuery({ query: PAGINATED_POSTS_QUERY });
---

<MainLayout title="Blog" description="Blog posts">
  <NavLayout>
    <Container
      class="grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3"
      innerPage
    >
      {
        result.data.map((post) => (
          <div>
            <a
              href={`/blog/${post.slug.current}`}
              class="block overflow-hidden rounded-lg aspect-video"
            >
              <SanityImage
                node={post.image}
                alt={post.title}
                class="object-cover object-center w-full h-full transition-transform hover:scale-125"
              />
            </a>

            <div class="flex justify-between items-end mt-4">
              <div>
                <h2 class="line-clamp-1">{post.title}</h2>
                <div class="inline-flex text-center gap-2">
                  <span class="inline-flex items-center gap-1">
                    <Calendar className="inline w-[1em] h-[1em]" />
                    {dayjs(post.postedAt).format("L")}
                  </span>
                  &#xb7;
                  <span class="inline-flex items-center gap-1">
                    <Timer className="inline w-[1em] h-[1em]" />
                    {getReadingTime(post.wordCount)}
                  </span>
                </div>
              </div>

              <div>
                <a
                  href={`/blog/${post.slug.current}`}
                  class="border rounded-lg py-1 px-2 inline-flex text-center gap-2 transition-colors hover:bg-secondary"
                >
                  <span class="text-xs">More</span>
                  <ArrowUpRight className="inline w-[1em] h-[1em]" />
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </Container>
  </NavLayout>
</MainLayout>
