---
import {
  IconArrowUpRight,
  IconCalendar,
  IconStopwatch,
} from "@tabler/icons-react";

import Container from "~/components/Container.astro";
import SanityImage from "~/components/SanityImage.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
import dayjs, { getReadingTime } from "~/lib/date";
import { loadQuery } from "~/lib/sanity/load-query";
import { PAGINATED_POSTS_QUERY } from "~/lib/sanity/queries";

const { result } = await loadQuery({ query: PAGINATED_POSTS_QUERY });
---

<MainLayout title="Blog" description="Blog posts">
  <NavLayout>
    <Container innerPage>
      <div class="mb-4">
        <h1 class="text-xl leading-none font-bold tracking-tight">Blog</h1>
      </div>

      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
        {
          result.data.map((post) => (
            <div>
              <a
                href={`/blog/${post.slug.current}`}
                class="block aspect-video overflow-hidden rounded-lg"
              >
                {post.image && (
                  <SanityImage
                    node={post.image}
                    alt={post.image.alt}
                    class="size-full object-cover object-center transition hover:drop-shadow-xl"
                    transition:name={`blog-image-${post.slug.current}`}
                  />
                )}
              </a>

              <div class="mt-4 flex items-end justify-between">
                <div>
                  <h2
                    class="line-clamp-1"
                    transition:name={`blog-title-${post.slug.current}`}
                  >
                    {post.title}
                  </h2>
                  <div class="inline-flex gap-2 text-center">
                    <span
                      class="inline-flex items-center gap-1"
                      transition:name={`blog-post-time-${post.slug.current}`}
                    >
                      <IconCalendar className="inline relative-icon" />
                      {dayjs(post.postedAt).format("L")}
                    </span>
                    &#xb7;
                    <span class="inline-flex items-center gap-1">
                      <IconStopwatch className="inline relative-icon" />
                      <span
                        transition:name={`blog-read-time-${post.slug.current}`}
                      >
                        {getReadingTime(post.wordCount)}
                      </span>
                    </span>
                  </div>
                </div>

                <div>
                  <a
                    href={`/blog/${post.slug.current}`}
                    class="hover:bg-secondary inline-flex gap-2 rounded-lg border px-2 py-1 text-center transition-colors"
                  >
                    <span class="text-xs">More</span>
                    <IconArrowUpRight className="inline relative-icon" />
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </Container>
  </NavLayout>
</MainLayout>
