---
import { IconArrowUpRight } from "@tabler/icons-react";
import type { GetStaticPaths } from "astro";

import Badge from "~/components/Badge.astro";
import Container from "~/components/Container.astro";
import PortableText from "~/components/PortableText/PortableText.astro";
import SanityImage from "~/components/SanityImage.astro";
import MainLayout from "~/layouts/MainLayout.astro";
import NavLayout from "~/layouts/NavLayout.astro";
import { loadQuery } from "~/lib/sanity/load-query";
import { PROJECT_QUERY, PROJECT_SLUGS_QUERY } from "~/lib/sanity/queries";
import { urlForImage } from "~/lib/sanity/urlForImage";

export const getStaticPaths = (async () => {
  const { result } = await loadQuery({ query: PROJECT_SLUGS_QUERY });

  return result.map((post) => ({
    params: { slug: post.slug },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const { result } = await loadQuery({ query: PROJECT_QUERY, params: { slug } });
const image = result?.images?.[0];

if (!result || !image) {
  return Astro.redirect("/404");
}

const imageUrl = urlForImage(image).url();
---

<MainLayout
  meta={{
    title: result.title,
    keywords: result.derefTag.map((tag) => tag.title),

    og: {
      title: result.title,
      image: imageUrl,
      type: "article",
      locale: "en_US",
      url: Astro.url,

      article: {
        published_time: result._createdAt,
        modified_time: result._updatedAt,
        tag: result.derefTag.map((tag) => tag.title),
      },
    },

    twitter: {
      title: result.title,
      image_alt: result.title,
      card: "summary",
      image: imageUrl,
    },
  }}
>
  <NavLayout>
    <div>
      <SanityImage
        node={image}
        class="md:rounded-md"
        transition:name={`project-image-${result.slug.current}`}
        pictureProps={{
          class: "flex items-center justify-center",
        }}
      />
    </div>

    <Container as="article" innerPage>
      <div class="mt-4 flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <h1
            class="text-2xl leading-none font-light tracking-tight"
            transition:name={`project-title-${result.slug.current}`}
          >
            {result.title}
          </h1>
          <h2
            class="text-muted-foreground leading-none font-light tracking-tight"
          >
            Role: {result.role}
          </h2>
        </div>

        <ul
          class="scrollbar-thin max-w-full space-x-1 overflow-x-scroll whitespace-nowrap"
          transition:name={`project-tags-${result.slug.current}`}
        >
          {
            result.derefTag.map((tag) => (
              <li class="inline">
                <Badge
                  as="a"
                  href={`/search?type=project&tag=${encodeURIComponent(tag.slug.current)}`}
                  variant="outline"
                  animate="hover"
                  class="rounded-full"
                >
                  {tag.title}
                </Badge>
              </li>
            ))
          }
        </ul>
        <ul class="space-x-1">
          {
            result.visibleLinks.map((link) => (
              <li class="inline">
                <Badge
                  as="a"
                  href={link.url}
                  variant="outline"
                  animate="hover"
                  class="gap-2"
                >
                  <span class="text-xs">{link.display}</span>
                  <IconArrowUpRight className="inline relative-icon" />
                </Badge>
              </li>
            ))
          }
        </ul>
        <PortableText data={result.body} />
      </div>
    </Container>
  </NavLayout>
</MainLayout>
