---
import { IconSearch } from "@tabler/icons-react";

import headerIcon from "~/assets/fox.svg?raw";
import ActiveLink from "~/components/ActiveLink.astro";
import Container from "~/components/Container.astro";
import NavLinks from "~/components/NavLinks.astro";
import SocialButton from "~/components/SocialButton.astro";
import { getEnv } from "~/lib/env";
import { loadQuery } from "~/lib/sanity/load-query";
import { SOCIAL_LINKS_QUERY } from "~/lib/sanity/queries";

const links = {
  about: { href: "/about", text: "About" },
  projects: { href: "/projects", text: "Projects" },
  blog: { href: "/blog", text: "Blog" },
  career: { href: "/career", text: "Career" },
  search: { href: "/search", text: "Search" },
  uses: { href: "/uses", text: "/uses" },
  rss: { href: "/rss.xml", text: "RSS" },
} as const;

const navlinks = [links.about, links.projects, links.blog, links.career];

const _socials = await loadQuery({ query: SOCIAL_LINKS_QUERY });

const env = getEnv();
---

<Container data-vaul-drawer-wrapper>
  <header class="md:rounded-b-xl border border-t-0 mb-8 bg-primary-foreground">
    <nav class="flex justify-between items-center p-6">
      <div>
        <a href="/" class="font-bold text-3xl inline-flex gap-2">
          <Fragment set:html={headerIcon} />
          Obi Fortune</a
        >
      </div>

      <NavLinks>
        {navlinks.map((link) => <ActiveLink {...link} />)}

        <ActiveLink
          href={links.search.href}
          slot="search"
          class="hover-link-icon data-[active-page='true']:border-primary"
        >
          <IconSearch className="relative-icon" />
          <span class="sr-only">{links.search.text}</span></ActiveLink
        >
      </NavLinks>
    </nav>
  </header>

  <main>
    <slot />
  </main>

  <footer class="mt-8 mb-3 px-4 lg:px-0">
    <div
      class="border rounded-xl py-10 flex flex-col justify-center items-center gap-7 mb-10 bg-primary-foreground shadow"
    >
      <span
        class="border text-xs font-medium px-2.5 py-0.5 rounded-full uppercase"
      >
        Get in touch
      </span>

      <p class="text-center text-4xl font-medium px-4 md:px-20">
        Got a web project? Let's talk.
      </p>

      <div class="flex gap-2 mt-6">
        {_socials.result.map((link) => <SocialButton link={link} />)}
      </div>
    </div>

    <div class="text-xs uppercase flex flex-col md:flex-row justify-between">
      <div class="inline-flex flex-col md:inline">
        <span>&copy; 2024 - {new Date().getFullYear()};</span>

        <span>
          Designed by
          <a class="hover-link" href="https://x.com/knownastawakalt"
            >Tawakalt Owolarafe</a
          >;
        </span>

        <span>
          Developed by
          <a class="hover-link" href="https://x.com/obifortunebleh"
            >Obi Fortune</a
          >;
        </span>
      </div>

      <div class="inline-flex flex-col md:inline">
        <span>
          <ActiveLink {...links.uses} />;
        </span>

        <span>
          <ActiveLink {...links.rss} />;
        </span>
        {
          env.CF_PAGES_COMMIT_SHA && (
            <span>
              Build SHA:
              <a
                target="_blank"
                href={`https://github.com/ickynavigator/portfolio/commit/${env.CF_PAGES_COMMIT_SHA}`}
                class="hover-link"
              >
                {env.CF_PAGES_COMMIT_SHA.substring(0, 7)}
              </a>
            </span>
          )
        }
      </div>
    </div>
  </footer>
</Container>
