---
import { VisualEditing } from "@sanity/astro/visual-editing";

import headerIcon from "~/assets/fox.svg?raw";
import ActiveLink from "~/components/ActiveLink.astro";
import Badge from "~/components/Badge.astro";
import BirthdayAnnouncement from "~/components/BirthdayAnnouncement.astro";
import Container from "~/components/Container.astro";
import NavLinks from "~/components/NavLinks.astro";
import SocialButton from "~/components/SocialButton.astro";
import { isSameDayMonth } from "~/lib/date";
import { getEnv } from "~/lib/env";
import { loadQuery } from "~/lib/sanity/load-query";
import { BIRTHDAY_QUERY, SOCIAL_LINKS_QUERY } from "~/lib/sanity/queries";

const links = {
  about: { href: "/about", text: "About" },
  projects: { href: "/projects", text: "Projects" },
  blog: { href: "/blog", text: "Blog" },
  career: { href: "/career", text: "Career" },
  search: { href: "/search", text: "Search" },
  uses: { href: "/uses", text: "/uses" },
  rss: { href: "/rss/index.xml", text: "RSS" },
} as const;

const navlinks = [links.about, links.projects, links.blog];

const [_socials, _birthdate] = await Promise.all([
  loadQuery({ query: SOCIAL_LINKS_QUERY }),
  loadQuery({ query: BIRTHDAY_QUERY }),
]);

const env = getEnv();

const isTodayBirthday = _birthdate.result
  ? isSameDayMonth(_birthdate.result)
  : false;
---

<Container class="bg-background relative">
  <header
    class="bg-background/95 supports-backdrop-filter:bg-background/60 sticky top-0 z-50 mb-8 border border-t-0 backdrop-blur-xs md:rounded-b-xl"
  >
    {isTodayBirthday && <BirthdayAnnouncement />}
    <nav class="flex items-center justify-between p-6">
      <div>
        <a href="/" class="inline-flex gap-2 text-3xl font-bold">
          <Fragment set:html={headerIcon} />
          Obi Fortune</a
        >
      </div>

      <NavLinks>
        {navlinks.map((link) => <ActiveLink {...link} />)}

        <!-- TODO: inspect broken search page in prod -->
        <!-- <ActiveLink
          href={links.search.href}
          slot="search"
          class="hover-link-icon data-[active-page='true']:border-primary"
        >
          <IconSearch className="relative-icon" />
          <span class="sr-only">{links.search.text}</span></ActiveLink
        > -->
      </NavLinks>
    </nav>
  </header>

  <main>
    <slot />
    <VisualEditing enabled={env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED} />
  </main>

  <footer class="mt-8 mb-3 px-4 lg:px-0">
    <div
      class="bg-accent mb-10 flex flex-col items-center justify-center gap-7 rounded-xl border py-10 shadow-sm"
    >
      <Badge
        class="rounded-full text-xs font-medium uppercase"
        variant="secondary"
      >
        Get in touch
      </Badge>

      <p class="px-4 text-center text-4xl font-medium md:px-20">
        Got a web project? Let's talk.
      </p>

      <div class="mt-6 flex gap-2">
        {_socials.result.map((link) => <SocialButton link={link} />)}
      </div>
    </div>

    <div class="flex flex-col justify-between text-xs uppercase md:flex-row">
      <div class="inline-flex flex-col md:inline">
        <span>&copy; 2024 - {new Date().getFullYear()};</span>

        <span>
          Designed by
          <a class="hover-link" href="https://x.com/knownastawakalt"
            >Tawakalt Owolarafe</a
          >;
        </span>

        <span>
          Developed by
          <a class="hover-link" href="https://x.com/obifortunebleh"
            >Obi Fortune</a
          >;
        </span>
      </div>

      <div class="inline-flex flex-col md:inline">
        <span>
          <ActiveLink {...links.uses} />;
        </span>

        <span>
          <ActiveLink {...links.rss} />;
        </span>
        {
          env.CF_PAGES_COMMIT_SHA && (
            <span>
              Build SHA:
              <a
                target="_blank"
                href={`https://github.com/ickynavigator/portfolio/commit/${env.CF_PAGES_COMMIT_SHA}`}
                class="hover-link"
              >
                {env.CF_PAGES_COMMIT_SHA.substring(0, 7)}
              </a>
            </span>
          )
        }
      </div>
    </div>
  </footer>
</Container>
