---
import { Code2, Github, Linkedin, Mail, Twitter } from "lucide-react";

import Container from "~/components/Container.astro";
import NavLinks from "~/components/NavLinks.astro";
import { cn } from "~/lib/utils";

const currentPage = Astro.url.pathname;

const links = [
  { href: "/about", text: "About" },
  { href: "/projects", text: "Projects" },
  { href: "/blog", text: "Blog" },
  { href: "/career", text: "Career" },
];

const socials = [
  {
    href: "https://twitter.com/obifortunebleh",
    text: "Twitter",
    icon: Twitter,
    color: "bg-[#010101]",
  },
  {
    href: "https://github.com/ickynavigator",
    text: "Github",
    icon: Github,
    color: "bg-[#24292F]",
  },
  {
    href: "https://linkedin.com/in/obifortune",
    text: "LinkedIn",
    icon: Linkedin,
    color: "bg-[#0077B5]",
  },
  {
    href: "https://github.com/ickynavigator/portfolio",
    text: "Code",
    icon: Code2,
    color: "bg-[#010101]",
  },
  {
    href: "mailto:gabrielobi.of@gmail.com",
    text: "Mail",
    icon: Mail,
    color: "bg-[#010101]",
  },
];
---

<Container data-vaul-drawer-wrapper>
  <header class="md:rounded-b-xl border border-t-0 mb-8 bg-primary-foreground">
    <nav class="flex justify-between items-center p-6">
      <div>
        <a href="/" class="font-bold">Obi Fortune</a>
      </div>

      <NavLinks>
        {
          links.map((link) => (
            <a
              href={link.href}
              class="hover-link data-[active-page='true']:decoration-primary"
              data-active-page={currentPage === link.href ? "true" : "false"}
            >
              {link.text}
            </a>
          ))
        }
      </NavLinks>
    </nav>
  </header>

  <slot />

  <footer class="mt-8 mb-3 px-4 lg:px-0">
    <div
      class="border rounded-xl py-10 flex flex-col justify-center items-center gap-7 mb-10 bg-primary-foreground shadow"
    >
      <span
        class="border text-xs font-medium px-2.5 py-0.5 rounded-full uppercase"
      >
        Get in touch
      </span>

      <p class="text-center text-4xl font-medium px-4 md:px-20">
        Got a web project? Let's talk.
      </p>

      <div class="flex gap-2 mt-6">
        {
          socials.map((social) => (
            <a
              target="_blank"
              href={social.href}
              title={social.text}
              class="group/icon"
            >
              <div
                class={cn(
                  social.color,
                  "rounded-full border-2 p-1.5 transition-transform group-hover/icon:-translate-y-1 text-white",
                )}
              >
                <social.icon
                  className="relative-icon"
                  aria-hidden="true"
                  focusable="false"
                />
              </div>
              <span class="sr-only">{social.text}</span>
            </a>
          ))
        }
      </div>
    </div>

    <div class="text-xs uppercase">
      <div>
        <span>&copy; {new Date().getFullYear()};</span>

        <span>
          Designed by
          <a class="hover-link" href="https://twitter.com/obifortunebleh"
            >Tawakalt Owolarafe</a
          >;
        </span>

        <span>
          Developed by
          <a class="hover-link" href="https://twitter.com/obifortunebleh"
            >Obi Fortune</a
          >
        </span>
      </div>
    </div>
  </footer>
</Container>
